@font-face {
    font-family: comic;
    src: url(assests/COMIC.TTF);
}

#votingContainer {
    display: flex;
    width: 60vh;
    height: 95vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#upvote {
    width: 30vh;
    height: 30vh;
    background-color: #8FC73E;
}

#downvote {
    width: 30vh;
    height: 30vh;
    background-color: #c73e3e;
}

body {
    margin: 0;
    text-align: center;
    font-family: comic;
    font-size: 2vh;
    overflow: hidden;
}

#mainContainer {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;

    background-color: rgb(172, 172, 172);

    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#roomFinder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#roomCode {
	font-size: 1.5vh;
	font-family: comic;
    text-align: center;
}

#join {
	font-size: 1.5vh;
	font-family: comic;
}


#votingContainer {
    display: none;
}